.box-skills {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
} 

.name-skills {
    display: flex;
    font-family: 'Press Start 2P';
    color: #FFF;
    font-size: 25px;
    margin-bottom: 10px;
}

.box-skills .skill-icon {
    display: flex;
    margin-right: 25px;
    width: 90px;
    height: 90px;
}

.box-skills .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
