.main-section {
    display: flex;
    box-sizing: border-box;
    background-color: #F25A70;
    border-bottom: 10px solid #7C5E99;
    flex-direction: column;
    align-items: center;
}

.main-section .main-title {
    margin-bottom: 60px;
    padding-top: 50px;
    color: #FFF;
    text-shadow: none;
}

.main-section.-projetos{
    background-color: #000;
    border-color: #F25A70;
}

.main-section.-sobre {
    background-color: #7C5E99;
    border-color: #000;
}