.main-form .main-button {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.main-form {
    background-color: #3A4042;
    border: none;
    align-items: flex-start;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
    
}

.main-form .main-title {
    margin-bottom: 60px;
    padding-top: 50px;
    color: #FFF;
    text-shadow: none;
    text-align: center;
}