.progress-bar {
    height: 40px;
    width: 320px;
    border: 5px solid #000;
    box-sizing: border-box;
    background-color: #fff;
}

.progress-bar::-moz-progress-bar , progress::-webkit-progress-bar {
    background-color: #7C5E99;
}