.bars {
    display: flex;
    height: 40px;
    width: 320px;
    background-color: #FFF;
    border: 5px solid  #000;
}

.bars > .progress{
    display: flex;
    width: 30%;
    background-color: #7C5E99;
}